* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(246, 65%, 59%);
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    background-color: hsl(246, 65%, 29%);
    color: white;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: hsl(246, 65%, 39%);
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}

.quiz-answers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
}

.answer {
    min-width: 40%;
    background-color: hsl(246, 65%, 79%);
    color: hsl(246, 65%, 19%);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.3s;
}

.answer:hover {
    cursor: pointer;
    transform: scale(1.03) translateY(-3px);
}

.correct-answer,
.correct-answer:hover {
    background-color: green;
    color: white;
}

.false-answer,
.false-answer:hover {
    background-color: red;
    color: white;
}

.btn {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    background-color: hsl(246, 65%, 29%);
    color: white;
    border-radius: 10px;
    transition: all 0.3s;
}

.btn:hover {
    background-color: hsl(246, 65%, 19%);
    transform: scale(1.05);
}

.btn.btn-show-answer {
    background-color: hsl(112, 47%, 20%);
}
.btn.btn-show-answer:hover {
    background-color: hsl(112, 47%, 15%);
}

.btn.btn-next {
    background-color: hsl(275, 100%, 35%);
}
.btn.btn-next:hover {
    background-color: hsl(275, 100%, 30%);
}

.score-minus {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.score-plus {
    position: fixed;
    top: 1rem;
    right: 1rem;
}
